*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 745px;
    background-color: rgb(238, 13, 238);
}

button{
    margin: 15px;
    padding: 12px;
    border-radius: 20px;
    border-width: 0;
    cursor: pointer;
}