*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ListApp{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 70px;
    /* position: absolute;
    top: 100px;
    left: 525px; */
    background-color: rgba(8, 8, 145, 0.986);
    border-radius: 20px;
}

input{
    padding: 10px;
    margin: 30px 20px;
    width: 400px;
    border-radius: 15px;
    border-width: 0;
    font-size: 1.1rem;
    color: rgb(118, 8, 221);
}

input:focus{
    outline: none;
}

.add{
   background: none;
   border-width: 0;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.2s;
}

.add:hover{
   transform: scale(1.2);
   border-radius: 50px;
}

.allData{
   margin: 20px 10px;
}

.element{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    border-radius: 18px;
    background-color: rgba(114, 6, 136, 0.726);
    border-width: 0;
    margin: 5px;
}

.element:hover{
    background-color: white;
    color: rgba(114, 6, 136, 0.726);
}

.element span{
    margin-right: 10px;
    width: 400px;
    font-size: 1.1rem;
}

.DelIcon{
    transition: all 0.2s;
    color:red;
}

.DelIcon:hover{
    color: red;
    transform: scale(1.2);
}

.editText{
    color: rgb(7, 211, 7);
    transition: all 0.2s;
}

.editText:hover{
    transform: scale(1.2);
}

.done{
    display: none;
    color: skyblue;
    transition: all 0.2s;
}

.done:hover{
    transform: scale(1.2);
}

.textHidden{
    display: none;
}

#eleSpan{
    width: fit-content;
    padding: 5px;
    font-size: 1rem;
    color: gainsboro;
    background-color: rgba(235, 18, 126, 0.836);
    border-radius: 10px;
}

@media (max-width:964px){
    .container{
        width: 400px;
        margin: 0px auto;
        margin-top: 70px;
    }
    input{
        width: 80%;
    }
    .allData{
        width: 400px;
    }
    .editText{
        transform: scale(1.4);
        margin: 0px 5px;
    }
    .DelIcon{
        transform: scale(1.4);
        margin: 0px 5px;
    }
}

@media (max-width:620px){
    .container{
        width: 250px;
        margin: 0px auto;
        margin-top: 70px;
    }
    input{
        width: 90%;
    }
    .allData{
        width: 300px;
    }
    .editText{
        transform: scale(2.2);
        margin: 0px 8px;
    }
    .DelIcon{
        transform: scale(2.2);
        margin: 0px 8px;
    }
}