*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 745px;
  background-color: rgb(182, 11, 216);
}

.text{
  margin: 20px;
  color: rgb(13, 233, 42);
}

.btn{
  padding: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(248, 58, 10);
  background-color: rgb(191, 241, 7);
  border-width: 0;
  border-radius: 5px;
  transition: all 0.3s ease-out;
}

.btn:hover{
  transform: scale(1.2);
  box-shadow: 7px 7px rgb(5, 210, 224);
  color: rgb(68, 108, 240);
}