*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    height: 740px;
    background-color: rgba(134, 27, 235, 0.945);
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgba(24, 24, 206, 0.918);
    padding: 80px;
    border-radius: 20px;
    width: 400px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    margin: auto;
}

form:hover{
    box-shadow: 10px 10px rgba(25, 7, 75, 0.801);
}

form input{
    padding: 8px;
    margin: 10px;
    border-radius: 10px;
    border-width: 0;
    width: 250px;
}

form input:focus{
    outline:none!important;
}

form button{
    background-color: rgba(133, 25, 235, 0.884);
    color: white;
    font-weight: bold;
    padding: 10px;
    border-width: 0;
    border-radius: 10px;
}

.dataentry{
    margin-top: 15px;
    padding: 4px;
    background-color: white;
    color: purple;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 2px 5px 8px rgba(54, 1, 54, 0.63);
}

.dataentry p{
    margin:10px;
    font-size: 1.3rem;
    font-weight: bolder;
}